{% extends 'layout.html.twig' %}

{% block content_title %}
    <div class = "container-fluid p-0">
        <div id="calendar_alert" style="font-size: 14px; display: none" class="alert alert-danger" role="alert"></div>
        <div class="row p-0">
            <div class="col-md-6 text-left content-header-title">
                <h1 class="title">Reservation</h1>
            </div>
            {% if patientUser.isPatient and patientUser.isVerified == false %}
            {% else %}
                <div class="col-6 text-right">
                    <button type="button" data-calendar-user="{{user}}" id="new-reservation" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New Reservation</button>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block main %}
    {% if patientUser.isPatient and patientUser.isVerified == false %}
        <div class="alert alert-danger">
            To see reservation table your account needs to be verified.
        </div>
    {% else %}
        {{ include('dashboard/_reservation_form.html.twig') }}
        <div class="row">
            <div id="calendar"></div>
        </div>
    {% endif %}
    <div style="display: none;" id="hoursByDay" data-value="{{ hoursByDays | json_encode }}"></div>

{% endblock %}
