{% extends 'layout.html.twig' %}

{% block content_title %}
    <div class = "container p-0">
        <div id="calendar_alert" style="font-size: 14px; display: none" class="alert alert-danger" role="alert"></div>
        <div class="row p-0">
            <div class="col-6 text-left content-header-title">
                <h1 class="title">Reservation</h1>
            </div>
            <div class="col-6 text-right">
                <button type="button" data-calendar-user="{{user}}" id="new-reservation" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New Reservation</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ include('dashboard/_reservation_form.html.twig') }}
    <div class="row">
        <div id="calendar"></div>
    </div>
{% endblock %}
