{% extends 'layout.html.twig' %}

{% block content_title %}Clinic Services{% endblock %}

{% block main %}
    <div class="container p-0 m-lg-0">
        <div class="row">
            {% for service in services %}
                {% set url = ea_url()
                    .setDashboard('App\\Controller\\Dashboard\\PatientDashboardController')
                    .setEntityId(service.id)
                %}
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="card bg-light text-dark">
                        <div class="card">
                            <a href="{{ url }}">
                                {% if service.serviceImages[0] is defined%}
                                    <img style="max-width: 100%; max-height: 200px;" src="{{ asset(service.serviceImages[0].getImageUrl) }}" class="card-img-top">
                                    <div class="card-body">
                                        <p class="card-text text-black">
                                            {{ service.title }}
                                        </p>
                                    </div>
                                {% endif%}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
