{% extends 'layout.html.twig' %}

{% block content_title %}Health records{% endblock %}

{% block main %}
    {{ include('patient-dashboard/_teeth-table.html.twig') }}
    <div id="health-record-table-container">
        {{ include('patient-dashboard/_health-record-table.html.twig') }}
    </div>
{% endblock %}
