{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content_title %}Clinic Services{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% for i in 0 ..6 %}
            <div class="col-lg-3 col-md-4 col-6 p-0">
                <div class="card bg-light text-dark">
                    <div class="card">
                        <a href="/test">
                            <img src="https://dummyimage.com/200x200/000/fff" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text text-black">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
